<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="com.example.jetpack.activity.FlowActivity" />
        <activity android:name="com.example.jetpack.activity.ExampleMvvmVMActivity"/>
        <activity android:name="com.example.jetpack.activity.ViewModelVMActivity" />
        <activity android:name="com.example.jetpack.activity.LiveDataVMActivity"/>
        <activity android:name="com.example.jetpack.activity.NdkActivity" />
        <activity android:name="com.example.jetpack.activity.CoroutinesVMActivity" />
        <activity android:name="com.example.jetpack.activity.ServiceActivity" />
        <activity android:name="com.example.jetpack.activity.JavaMemoryActivity" />
        <activity android:name="com.example.jetpack.activity.LifecycleActivity" />
        <activity android:name="com.example.jetpack.activity.LaunchActivity" />
        <activity android:name="com.example.jetpack.activity.HandlerActivity" />
        <activity android:name="com.example.jetpack.activity.WebViewVMActivity" />
        <activity android:name="com.example.jetpack.activity.RoomActivity" />

        <service
            android:name="com.example.jetpack.service.BindService"
            android:enabled="false"
            android:exported="false" />
        <service
            android:name="com.example.jetpack.service.StartService"
            android:enabled="false"
            android:exported="false" />
    </application>

</manifest>