<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yang.appkt">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 是否可以使用蓝牙 -->
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- 蓝牙扫描 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 低功耗蓝牙required=true/false ==>只能在支持低功耗蓝牙设备安装/自行判断是否支持低功耗 -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Baseapp"
        tools:targetApi="n">
        <activity
            android:name=".menu.NdkActivity"
            android:exported="false" />
        <activity
            android:name=".menu.BluetoothActivity"
            android:exported="false" />

        <service
            android:name=".service.BindService"
            android:enabled="false"
            android:exported="true" />
        <service
            android:name=".service.StartService"
            android:enabled="false"
            android:exported="true" />

        <activity
            android:name=".menu.ServiceActivity"
            android:exported="false" />
        <activity
            android:name=".menu.JavaMemoryActivity"
            android:exported="false" />
        <activity
            android:name=".menu.ActivityActivity"
            android:exported="false" />
        <activity
            android:name=".menu.VmActivity"
            android:exported="false"
            android:label="@string/title_activity_vm" />
        <activity
            android:name=".menu.LifecycleActivity"
            android:exported="false" /> <!-- android:process=":launch" -->
        <activity
            android:name=".menu.LaunchActivity"
            android:exported="false" />
        <activity
            android:name=".menu.HandlerActivity"
            android:exported="false" />
        <activity
            android:name=".menu.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".menu.RoomActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.example.main"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>

        </activity>
        <activity
            android:name=".menu.RecyclerActivity"
            android:exported="false" />
        <activity
            android:name=".menu.CoroutinesActivity"
            android:exported="false" />
    </application>

</manifest>