<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.any" />

    <application>
        <activity android:name="com.example.avi.android.mediacodec.MediaCodecActivity" />
        <activity android:name="com.example.avi.android.mediaextractor.MediaExtractorActivity" />
        <activity android:name="com.example.avi.android.audiorecord.AudioRecordActivity" />
        <activity android:name="com.example.avi.android.camerax.CameraXActivity" />
        <activity android:name="com.example.avi.android.camera2.Camera2Activity" />
        <activity android:name="com.example.avi.android.image.PicShowActivity" />
        <activity android:name="com.example.avi.android.mediarecorder.MediaRecorderActivity" />
    </application>

</manifest>